# Configurações do Banco de Dados
# Dados Padrão
DB_HOST=localhost
DB_NAME=bd-cabeleleila-leila
DB_USER=root
DB_PASS=
DB_PORT=3306

# Outras configurações (opcional)
APP_DEBUG=true
APP_URL=http://localhost:8080